.dashboard-title {
  margin: 20px;
}

.horizontal-fade {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, transparent, #000, transparent);
  width: calc(100% - 240px);
}

.dashboard-layout {
  display: flex;
  align-items: flex-start;
  margin: 0 20px;
}

.dashboard-left-menu {
  position: fixed;
  left: 50px;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.vertical-fade {
  margin: 20px 0;
  border: 0;
  height: 100x;
  width: 100px;
  background: linear-gradient(to right, transparent, #ccc, transparent);
}

.dashboard-right-content {
  flex: 1;
  margin-top: 20px;
  padding: 20px;
}

.dashboard-chart {
  border: 2px solid grey;
  width: 800px;
  height: 400px;
}

.dashboard-info {
  text-align: center;
}
