.index-main-container {
  background-image: url('/images/bg_6.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 20px;
}

.index-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

.outer-index-card {
  display: flex;
  gap: 200px;
  align-items: baseline;
}

.index-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 240px;
  height: 300px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.index-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.index-card h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: white;
}

.index-card p {
  margin: 0;
  color: white;
  font-size: 1rem;
}

.index-card-bottom {
  background-color: rgb(147, 129, 255);
}

.index-card-top {
  background-color: rgb(41, 37, 56);
}

.floating-air-button {
  position: fixed;
  top: 100px;
  left: 100px;
  background-color: #ffde59;
  color: #1a1a1a;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 1000;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.floating-air-button:hover {
  transform: scale(1.05);
  background-color: #ffe97f;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .outer-index-card {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .index-card {
    height: auto;
    padding: 20px;
  }

  .index-card h3 {
    font-size: 1.25rem;
  }

  .index-card p {
    font-size: 0.875rem;
  }

  .floating-air-button {
    width: 180px;
    height: auto;
    font-size: 0.875rem;
    padding: 10px 16px;
    position: static;
    top: auto;
    left: auto;
  }

  .floating-air-button span {
    font-size: 0.875rem;
  }
}
