.my-account-title {
  margin-top: 35px;
}

.my-account-form {
  margin: 20px 0;
}

.my-account-text {
  text-align: center;
}

.plus-button {
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: white;
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.plus-button:hover {
  background-color: #0056b3;
}

.bracelet-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.my-account-edit-user-buttton {
  position: fixed;
  left: 20px;
  margin-top: 5px;
  font-size: 16px;
  min-height: 32px;
  min-width: 80px;
  border: none;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: white;
  background-color: rgb(147, 129, 255);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(129, 107, 254);
  }

  &:active {
    background-color: rgb(72, 40, 252);
  }

  &:disabled {
    background-color: rgb(242, 240, 254);
    cursor: default;
  }
}
