/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

@import url('header.css');
@import url('register.css');
@import url('components/login-modal.css');
@import url('bootstrap');

body {
  margin: 0;
  font-family:
    'Inter var',
    'Inter web',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
