<footer class='footer'>
  <div class='footer-left'>
    <a href='https://daniel-lesner.com' target='_blank' class='footer-link'>
      Daniel Lesner
    </a>
    <a
      href='https://www.linkedin.com/in/stavarache-emanuel-9205bb128'
      target='_blank'
      class='footer-link'
    >
      Emanuel Stavarache
    </a>
  </div>

  <div class='footer-center'>
    <span>PulmoRehab @ Copyright {{this.currentYear}}</span>
  </div>

  <div class='footer-right'>
    <LinkTo @route='privacy-policy' class='footer-link'>Privacy Policy</LinkTo>
  </div>
</footer>