<div class='header-container'>
  <LinkTo class='header-title' @route='index'>Pulmo Rehab</LinkTo>

  <div class='header-menu'>
    {{#if this.session.isAuthenticated}}
      <LinkTo @route='my-account'>
        <BsIcon @name='person-circle' />
        <span>My Account</span>
      </LinkTo>
      <LinkTo @route='dashboard'>
        <BsIcon @name='layout-sidebar' />
        <span>Dashboard</span>
      </LinkTo>
      <div class='header-menu-button' {{on 'click' this.logOut}}>Log Out</div>
    {{else}}
      <div class='header-menu-button' {{on 'click' this.openLoginModal}}>Log In</div>
      <div class='header-menu-button'>
        <LinkTo @route='register'>
          Register
        </LinkTo>
      </div>
    {{/if}}
  </div>
</div>

{{#if this.isLoginModalOpen}}
  <LoginModal @closeLoginModal={{this.closeLoginModal}} />
{{/if}}