.outer-fitness-age-card {
  display: flex;
  flex-wrap: wrap; // permite să cadă sub, pe mobil
  gap: 24px; // nu 200px, mult mai echilibrat
  align-items: start;
}

.fitness-age-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 240px;
  min-height: 300px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: white;
  }

  p {
    margin: 0;
    color: white;
    font-size: 1rem;
  }

  &-bottom {
    background-color: rgb(147, 129, 255);
  }
}
