.patient-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 250px;
  height: 150px;
  margin: 20px auto;
}

.patient-card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.patient-name {
  font-size: 20px;
  font-weight: bold;
}

.patient-bracelet-brand {
  font-size: 16px;
  color: #555;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.text-danger {
  color: red;
}

.patient-go-to-dashboard {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
}

.patient-edit {
  position: absolute;
  bottom: 10px;
  left: 50px;
  padding: 10px;
}
