<h1>My Dashboard</h1>
{{!-- {{#if this.session.isAuthenticated}}
  <p>Welcome, {{this.model.name}}!</p>
{{else}}
  <p>You are not authenticated.</p>
  <button type="button" {{on "click" this.goHome}}>Return to Home</button>
{{/if}} --}}