<div class='index-main-container'>
  <div class='index-card-container'>
    <LinkTo @route='air-pollution' class='floating-air-button'>
      ⭐ Now Air Pollution Data
    </LinkTo>

    <div class='outer-index-card'>
      <h1>Health Data</h1>

      <div class='index-card index-card-bottom'>
        <h3>For Doctors</h3>
        <p>A platform for doctors to monitor health metrics of their patients.</p>
      </div>
    </div>

    <div class='outer-index-card'>
      <div class='index-card index-card-top'>
        <h3>For Patients</h3>
        <p>A platform for patients to subscribe and submit their health data to
          their doctors.
        </p>
      </div>

      <div>
        <Icon::Lungs @width='128' @height='128' />
      </div>
    </div>
  </div>
</div>