<div class='container my-3'>
  <h2 class='mb-4'>Invitație de Participare la Studiu</h2>

  <p>Vă invităm să participați la un studiu care impune utilizarea datelor
    personale colectate de pe dispozitive inteligente (ceasuri/brățări) pe care
    le veți purta la încheietura mâinii. Sunteţi rugat să citiţi acest formular
    cu multă atenţie şi să puneţi orice întrebare referitoare la participarea
    dvs. legată de studiu la care aţi fost invitat, înainte de a accepta să
    participaţi, vă rugăm să vă daţi acordul în scris la final.</p>

  <p><strong>Titlul doctoratului:</strong>
    „Particularități ale programelor de recuperare fizică în patologia
    respiratorie cronică în condiții pandemice”.<br />
    <strong>Cercetător:</strong>
    Ioan Emanuel Stavarache — Doctorand, UMF “Grigore T. Popa” din Iași</p>

  <h4>1. SCOPUL STUDIULUI</h4>
  <p>Această cercetare își propune să evalueze acuratețea datelor furnizate de
    dispozitivele inteligente purtate la mână (de exemplu, Garmin, Fitbit,
    Huawei) și să exploreze modul în care acestea pot fi utilizate pentru
    monitorizarea și observarea parametrilor vitali, în special în contextul
    reabilitării respiratorii. Integrarea acestor tehnologii în îngrijirea
    pacienților are potențialul de a sprijini monitorizarea stării de sănătate
    la distanță, oferind medicilor și terapeuților informații detaliate, unele
    în timp real, esențiale pentru adaptarea și optimizarea programelor de
    exerciții fizice, precum și pentru intervenții rapide în cazuri urgente.</p>

  <h4>2. PROCEDURI</h4>
  <p>Prin semnarea acestui consimțământ:<br />
    • Sunteți de acord să partajați datele personale colectate de pe
    dispozitivul inteligent purtat la mână, conectându-vă cu (user name și
    parolă) pe site-ul
    <a href='https://pulmo-rehab.com/'>pulmo-rehab.com</a>.<br />
    • Datele extrase vor include: ritmul cardiac, numărul de pași, nivelul de
    stres, nivelul de activitate fizică, calitatea somnului, SaO2 etc.<br />
    • Aceste date vor fi accesate și gestionate printr-o platformă online
    sigură, la care vor avea acces doar medicii, terapeuții, sau aparținătorii
    implicați în îngrijire sau monitorizarea dumneavoastră.<br />
    • Cercetătorul va accesa aceste date prin intermediul interfețelor API
    furnizate de terți (Garmin, Fitbit, Huawei etc.) și va asigura respectarea
    confidențialității.</p>

  <h4>3. Cum vor fi utilizate datele dumneavoastră?</h4>
  <p>Datele vor fi utilizate exclusiv în scopuri de cercetare doctorală, în
    cadrul acestui proiect, și pentru a dezvolta o platformă care să faciliteze
    accesul medicilor și terapeuților la istoricul și evoluția parametrilor
    vitali în timp real. Platforma va permite medicilor și terapeuților să
    monitorizeze parametrii dumneavoastră vitali în condiții de siguranță și
    confidențialitate.</p>

  <h4>4. Cum vor fi protejate datele dumneavoastră?</h4>
  <p>Datele colectate vor fi stocate pe un server securizat, accesibil doar
    persoanelor autorizate (echipa de cercetare și cadrele medicale desemnate).
    Accesul la platformă va fi restricționat prin metode de autentificare
    securizată (de exemplu, parole și autentificare). Toate datele utilizate în
    cercetare vor fi anonimizate pentru a proteja identitatea dumneavoastră.</p>

  <h4>5. Drepturile dumneavoastră</h4>
  <p>Participarea este complet voluntară și vă puteți retrage consimțământul în
    orice moment, fără nicio consecință. Aveți dreptul de a solicita acces la
    datele furnizate sau de a solicita ștergerea acestora din platformă. Pentru
    retragerea consimțământului sau alte cereri, puteți contacta cercetătorul
    acestui proiect la e-mailul:
    <strong>ioan-emanuel-i-stavarache@d.umfiasi.ro</strong></p>

  <h4>6. POSIBILE RISCURI</h4>
  <p>Nu există riscuri semnificative asociate participării dumneavoastră.</p>

  <h4>7. POSIBILE BENEFICII</h4>
  <p>Beneficiile participării includ contribuția la avansarea cercetărilor care
    vizează îmbunătățirea monitorizării medicale prin utilizarea dispozitivelor
    inteligente. Aceste cercetări pot facilita dezvoltarea unor soluții
    tehnologice mai precise și mai accesibile, care să permită o urmărire mai
    detaliată a parametrilor vitali, precum ritmul cardiac, nivelul de
    activitate fizică, sau calitatea somnului în îngrijirea pacienților.</p>

  <h4>8. CONSIDERAŢII FINANCIARE</h4>
  <p>Nu există vreo recompensă financiară sau materială pentru participarea la
    studiu. Acest studiu nu implică costuri suplimentare din partea
    participanților.</p>

  <h4>9. TERMINAREA ÎNROLĂRII ÎN STUDIU</h4>
  <p>Sunteţi liber să decideţi dacă veţi dori sau nu să participaţi în acest
    studiu. Nu veţi pierde nici un beneficiu la care sunteţi îndreptăţit, dacă
    nu veţi accepta participarea. Sunteţi liber să vă retrageţi din studiu la
    orice moment. Nu vor exista consecinţe retragerii din studiu.</p>

  <h4>10. Persoane de contact</h4>
  <p>În cazul oricăror întrebări, puteți contacta:
    <strong>Ioan Emanuel Stavarache</strong>, e-mail:
    <strong>ioan-emanuel-i-stavarache@d.umfiasi.ro</strong>, Tel:
    <strong>0749361536</strong></p>

  <h4>11. AUTORIZAREA</h4>
  <p>„Am citit şi am înţeles acest formular de consimţământ şi sunt de acord ca
    de bună voie să particip în studiul descris. Primesc o copie a acestui
    formular.”</p>
</div>